.tabulator {
  padding-bottom: 15px;
  .tabulator-header
   { 
       .tabulator-headers
       {   
   .tabulator-col {
      background-color: aliceblue;       
    }
  }
  }
}

.css-mta8ys-MuiTable-root{
  width: 20% !important;
  overflow-y: auto;
}
  
  

  